{% extends 'loginSys/layout.html' %}

{% load static %}

{% block content %}


{% include "loginSys/messages.html" %}

{% if request.user.is_authenticated %}
<h1 class="d-flex justify-content-center">Welcome to the website</h1>

<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Logout</button>
</form>

{% else %}


<div class="container form-layout px-5 py-3 mt-5">

    <h1 class="title d-flex justify-content-center p-5">Login System Template</h1>
    <div class="d-flex d-flex justify-content-evenly">
        <a href="{% url 'login' %}" class="flex-md-fill btn btn-primary mt-5 mx-3">Login</a>
        <a href="{% url 'register' %}" class="flex-md-fill btn btn-primary mt-5 mx-3">Register</a>

    </div>
</div>



{% endif %}

{% endblock %}