{% extends 'loginSys/layout.html' %}

{% load static %}

{% block content %}


<div class="form-layout container px-5 py-3 mt-5">

    <h1 class="title d-flex justify-content-center p-5">Send password</h1>

    <form method="POST">

        {% csrf_token %}
        <div class="mt-3">
            {{ form.email }}
        </div>

        <button type="submit" class="form-btn btn btn-primary mt-3">Send Email</button>
    </form>

    <div class="links">
        <a href="{% url 'register' %}" class="link btn btn-warning mt-5">Register</a>
    </div>

</div>

{% endblock %}