{% extends 'loginSys/layout.html' %}

{% load static %}

{% block content %}

<div class="form-layout container px-5 py-3 mt-5">

    <h1 class="title d-flex justify-content-center p-5">Update password</h1>
    <form action="{% url 'update_password' %}" method="POST">
        {% csrf_token %}

        {% for error in update_password_form.non_field_errors %}

        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>

        {% endfor %}

        {% for field in update_password_form %}
        <div class="mb-3">
            <!-- <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> -->
            {{ field }}
        </div>

        {% endfor %}
        <button type="submit" class="form-btn btn btn-primary">Update</button>
    </form>

    <div class="links">
        <a class="link btn btn-warning" href="{% url 'main' %}">Main page</a>
    </div>
</div>

{% endblock %}