{% extends 'loginSys/layout.html' %}

{% load static %}

{% block content %}

    <h1 class="d-flex justify-content-center p-5">Login here</h1>

    <div class="container p-5">

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        <form action="{% url 'login' %}" method="POST">

            {% csrf_token %}

            {% for error in login_form.non_field_errors %}
                <!-- Form errors -->
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            

            {% for field in login_form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="ml-4" href="{% url 'password_reset' %}">Forgot password</a>
        </form>

        <a href="{% url 'register' %}" class="btn btn-warning mt-5">Register</a>

    </div>

{% endblock %}